/* app/layout/Layout.css */
.layout-container {
    display: flex;
    flex-direction: column; /* Stack header, main, and footer vertically */
    min-height: 100vh; /* Ensure the layout takes at least the full height of the viewport */
}

.main-content {
    flex: 1; /* Allow the main content to grow and fill the available space */

}